@import url ('https://fonts.googleapis.com/css?family=Quicksand');
@font-face{
  src:url('../fonts/Limelight-Regular.ttf');
  font-family:limelight;
}
body{
  height:100% !important;
  margin-left:20px !important;
  background-color:#222 !important;
  color:#f5f5f5 !important;
  font-family:Quicksand !important;
  font-size:2em !important;
}
.navbar{
  font-size:1.3em;
  background-color:#222 !important;
  height:4em;
}
ul > li > a{
  color:#c00000 !important;
  margin-top:50px;
}
.tel{
  color:#f5f5f5;
  margin-right:60px;
}
.tel:hover{
  text-decoration:underline;
  color:#f5f5f5;
}
a:hover{
  text-decoration:none !important;
  color:#f5f5f5 !important;
}
.fa-phone-square{
  color:#c00000;
}
.nav{
  margin-top:15px;
}
.navbar-brand{
  color:#f5f5f5 !important;
  font-size:1.5em !important;
  font-family:limelight;
  margin-right:50px !important;
}
.bg{
  border:3px solid #c00000;
  border-radius:50%;
  background-color:#c00000;
}
.navbar-text{
  font-size:1em;
  margin-right:2%;
  margin-top:25px;
}
a.active{
  border-bottom:2px solid #f5f5f5;
}
h2{
  font-size:2em !important;
  color:#c00000 !important;
}
h4{
  font-size:1.5em !important;
  font-family:limelight;
}
#about{
  margin-top:130px;
  margin-right:50px;
  margin-bottom:100px;
}
#about li, .offer{
  margin-left:10%;
}
.offer{
  margin-top:50px;
}
#team > ul{
  list-style-type:none;
}
#team > ul > li > img{
  height:25%;
  width:25%;
}
.brit{
  margin-bottom:70px;
  margin-right:30px;
}
.brit > img{
  float:left;
  margin-right:25px;
  border-radius:20px;
}
.maggie{
  margin-bottom:100px;
  margin-right:30px;
}
.maggie > img{
  float:right;
  border-radius:20px;
}
.patti{
  margin-top:50px;
  margin-bottom:300px;
  margin-right:30px;
}
.patti > img{
  float:left;
}
#ourWork{

}
.image > img{
  height:25%;
  width:25%;
}
#footer{
  text-align:center;
}
#footer ul{
  list-style-type:none;
}
#footer li{
  display:inline;
}
#footer i{
  font-size:2em;
}
