<acme-navbar></acme-navbar>
<div class='container'>
  <section ng-hide='edit.addEdit'>
    <form class='form-horizontal'>
      <div class='form-group'>
        <label class='form-control-label'>Dog's Name:</label>
        <input type='text' class='form-control' ng-model='edit.dogs.name'>
      </div>
      <div class='form-group'>
        <label class='form-control-label'>Email:</label>
        <input type='email' class='form-control' ng-model='edit.dogs.email'>
      </div>
      <div class='form-group'>
        <label class='form-control-label'>State:</label>
        <select class='form-control' ng-model='edit.dogs.state' ng-options='items for items in edit.states'>
          <option value='' selected disabled>Please Choose...</option>
        </select>
      </div>
    </form>
    <button class='btn btn-default' ui-sref='summary({dogs:edit.dogs})'><span class='fa fa-paw'></span> Save</button>
  </section>
</div>
<acme-footer></acme-footer>
